#
#     
#         ┌─┐       ┌─┐
#      ┌──┘ ┴───────┘ ┴──┐
#      │                 │
#      │       ───       │
#      │  ─┬┘       └┬─  │
#      │                 │
#      │       ─┴─       │
#      │                 │
#      └───┐         ┌───┘
#          │         │
#          │         │
#          │         │
#          │         └──────────────┐
#          │                        │
#          │                        ├─┐
#          │                        ┌─┘    
#          │                        │
#          └─┐  ┐  ┌───────┬──┐  ┌──┘         
#            │ ─┤ ─┤       │ ─┤ ─┤         
#            └──┴──┘       └──┴──┘ 
#                神兽保佑 
#                代码无BUG! 
#
#
#
# 大家在上传代码的时候注意保护重要数据文件-比如数据库配置

.idea
